@font-face {
	font-family: Arial;
	font-weight: normal;
}

@font-face {
	font-family: Arial;
	font-weight: bold;
}

Application {
	background-color: #fff;
	background-image: none;
	theme-color: #4cb825;
	padding-left: 0;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
}

Button, ComboBox, ToggleButtonBar { 
    background-size: '100%';
    color: #222;
    fill-alphas: 0.0, 0.0;
    font-family: Arial;
    font-size: 12; 
    font-weight: normal;
    corner-radius: 0;
    border-color: #888;
    border-thickness: 4;
    open-duration: 0;
    close-duration: 0;
}

Label {
	color: #222;
	font-family: Arial;
	font-size: 12;
}

List {
	font-weight: normal;
	padding-left: 9;
	padding-right: 9;
}

ScrollBar {
	track-colors: #fff, #fff;
	thumb-down-skin: ClassReference('trait.CustomScrollThumbSkin');
	thumb-over-skin: ClassReference('trait.CustomScrollThumbSkin');
	thumb-up-skin: ClassReference('trait.CustomScrollThumbSkin');
}

ToolTip {
	background-color: #fff;
	color: #222;
	font-family: Arial;
	font-size: 12;
}

Panel {
	color: #000;
	font-family: Arial;
	font-weight: bold;
	font-size: 12;
	drop-shadow-enabled: false;
	rounded-bottom-corners: false;
	border-alpha: 1;
	border-color: #ddd;
	border-thickness-top: 1;
	border-thickness-left: 1;
	border-thickness-bottom: 1;
	border-thickness-right: 1;
}